body {
  font-size: 16px;
  color: $secondaryColor;
  background-color: $backgroundColor;
  overflow-x: hidden;
  padding: 0px 100px;
  cursor: none;
}

.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
}
