:root {
  font-size: 16px;
  @media (max-width: $desktop) {
    font-size: 16px;
  }
  @media (max-width: $phone) {
    font-size: 14px;
  }
}
body {
  font-size: 1rem;
  color: $secondaryColor;
  background-color: $backgroundColor;
  overflow-x: hidden;
  padding: 0px 32px;
  @media (max-width: $phone) {
    padding: 0 32px;
  }
  cursor: none;
  @media (max-width: $laptop) {
    cursor: default;
  }
  &.no-scroll {
    overflow: hidden;
  }
}

html {
  ::-webkit-scrollbar {
    display: none;
  }
  .section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    min-height: 100vh;
    margin-bottom: 4rem;
    z-index: 1;
    &:last-of-type {
      margin-bottom: 4rem;
    }
    @media (max-width: $tablet) {
      padding-top: 100px;
      min-height: auto;
    }
    @media (max-width: $phone) {
      min-height: 100vh;
    }
  }
  #introduction-section {
    top: $navbarHeight;
    min-height: calc(100vh);
    padding-top: 0;
    @media (min-width: $desktop) {
      margin-bottom: 8rem;
    }
  }
  #contact-section {
    padding-top: 6.25rem;
    @media (max-width: $phone) {
      padding-top: 4rem;
    }
  }
  h1 {
    font-size: 4vw;
    font-weight: normal;
    letter-spacing: -1px;
    @media (max-width: $desktop) {
      font-size: 5vw;
    }
    @media (max-width: $phone) {
      font-size: 6.5vw;
    }
    @media (min-width: 1921px) {
      font-size: 4vw;
    }
  }
  h2 {
    font-family: "PlusJakartaText Bold";
    font-size: 3.157rem;
    margin-bottom: 1rem;
    @media (max-width: $tablet) {
      font-size: 2.5rem;
    }
  }
  h3 {
    font-family: "PlusJakartaText Light";
    font-size: 2.369rem;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1.777rem;
  }
  h5 {
    font-weight: normal;
    font-size: 1.333rem;
    @media (max-width: $laptop) {
      font-size: 1rem;
    }
    @media (max-width: $phone) {
      font-size: 0.875rem;
    }
  }
  p {
    font-family: "PlusJakartaText Regular";
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 1rem;
    -webkit-font-smoothing: antialiased;
  }
}
