@font-face {
  font-family: "Monument Regular";
  src: url("../../assets/fonts/MonumentExtended-Regular.otf");
}

@font-face {
  font-family: "Monument Ultra Bold";
  src: url("../../assets/fonts/MonumentExtended-Ultrabold.otf");
}
