@font-face {
  font-family: "Monument Regular";
  src: url("../../assets/fonts/MonumentExtended-Regular.otf");
}

@font-face {
  font-family: "Monument Ultra Bold";
  src: url("../../assets/fonts/MonumentExtended-Ultrabold.otf");
}

@font-face {
  font-family: "PlusJakartaText Regular";
  src: url("../../assets/fonts/PlusJakartaText-Regular.otf");
}

@font-face {
  font-family: "PlusJakartaText Light";
  src: url("../../assets/fonts/PlusJakartaText-Light.otf");
}
