@font-face {
  font-family: "Monument Regular";
  src: url("../../assets/fonts/MonumentExtended-Regular.otf");
}

@font-face {
  font-family: "Monument Ultra Bold";
  src: url("../../assets/fonts/MonumentExtended-Ultrabold.otf");
}

@font-face {
  font-family: "PlusJakartaText Regular";
  src: url("../../assets/fonts/PlusJakartaText-Regular.otf");
}

@font-face {
  font-family: "PlusJakartaText Light";
  src: url("../../assets/fonts/PlusJakartaText-Light.otf");
}

@font-face {
  font-family: "PlusJakartaText Bold";
  src: url("../../assets/fonts/PlusJakartaText-Bold.ttf");
}

@font-face {
  font-family: "Pencerio-Hairline";
  src: url("../../assets/fonts/Pencerio-Hairline.woff2") format("woff2"),
    url("../../assets/fonts/Pencerio-Hairline.woff") format("woff"),
    url("../../assets/fonts/Pencerio-Hairline.ttf") format("truetype");
  font-weight: 50;
  font-display: swap;
  font-style: normal;
}

.signature {
  position: absolute;
  padding-top: 1.5rem;
  padding-left: 1rem;
  font-family: "Pencerio-Hairline";
  font-size: 2rem;
}
