@import "variables";
@import "./base/global";
@import "./base/reset";
@import "./base/typography";

@import "./pages/homePage";
@import "./components/logoAnimation";
@import "./components/navbar";
@import "./components/blockReveal";
@import "./components/introduction";
@import "./components/scrollExploreInfo";
@import "./components/about";
@import "./components/projects";
@import "./components/contact";
@import "./components/footer";
@import "./components/mobileMenu";
@import "./components/cv";
