.home-page {
  width: 100vw;
  background-color: $backgroundColor;
  padding: 0px 100px;
}
.custom-cursor {
  &.enabled {
    z-index: 100;
    position: fixed;
    top: -20px;
    left: -20px;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: $secondaryColor;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.4s ease-out, height 0.4s ease-out;
    transform-origin: center;
    &.big {
      width: 100px;
      height: 100px;
    }
    &.copy {
      width: 100px;
      height: 100px;
      &::after {
        position: relative;
        top: 70%;
        left: calc(50% - 1rem);
        color: $defaultColor;
        content: "copy";
        font-family: "Monument Ultra Bold";
        font-size: 0.75rem;
      }
      &.copied {
        width: 50px;
        height: 50px;
        background-color: $defaultColor;
        color: $secondaryColor;
        &::after {
          content: "copied";
          color: $secondaryColor;
        }
      }
    }
    &.scroll {
      width: 100px;
      height: 100px;
      border: 3px solid $secondaryColor;
      background-color: rgba(#ffffff, 0);
      &::after {
        position: relative;
        top: 70%;
        left: calc(50% - 1rem);
        color: $secondaryColor;
        mix-blend-mode: difference;
        content: "scroll";
        font-family: "Monument Ultra Bold";
        font-size: 0.75rem;
      }
    }
  }
}
