.home-page {
  max-width: 100vw;
  background-color: $backgroundColor;
  padding: 0 6.5rem;
  @media (max-width: $desktop) {
    padding: 0 5rem;
  }
  @media (max-width: $tablet) {
    padding: 0 64px;
  }
  @media (max-width: $phone) {
    padding: 0 32px;
  }
  overflow: hidden;
}
.custom-cursor {
  &.enabled {
    z-index: 100;
    position: fixed;
    top: -20px;
    left: -20px;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: $secondaryColor;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.4s ease-out, height 0.4s ease-out,
      border 0.3s ease-in-out, background-color 0.4s ease-in-out;
    transform-origin: center;
    &.big {
      width: 100px;
      height: 100px;
    }
    &.small {
      width: 60px;
      height: 60px;
    }
    &.medium {
      width: 75px;
      height: 75px;
    }
    &.brush {
      width: 15px;
      height: 15px;
      mix-blend-mode: normal;
    }
    &.copy {
      width: 100px;
      height: 100px;
      &::after {
        position: relative;
        top: 70%;
        left: calc(50% - 1rem);
        color: $defaultColor;
        content: "copy";
        font-family: "Monument Ultra Bold";
        font-size: 0.75rem;
      }
      &.copied {
        width: 50px;
        height: 50px;
        background-color: $defaultColor;
        color: $secondaryColor;
        &::after {
          content: "copied";
          color: $secondaryColor;
        }
      }
    }
    &.explore {
      width: 100px;
      height: 100px;
      &::after {
        position: relative;
        top: 70%;
        left: calc(50% - 27px);
        color: $defaultColor;
        content: "explore";
        font-family: "Monument Ultra Bold";
        font-size: 0.75rem;
      }
    }
    &.scroll {
      width: 100px;
      height: 100px;
      border: 3px solid $secondaryColor;
      background-color: rgba(#ffffff, 0);
      &::after {
        position: relative;
        top: 70%;
        left: calc(50% - 1rem);
        color: $secondaryColor;
        mix-blend-mode: difference;
        content: "scroll";
        font-family: "Monument Ultra Bold";
        font-size: 0.75rem;
      }
    }
  }
}
.no-pointer-events {
  pointer-events: none;
}
