.about-me-wrapper {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.25rem;
  padding-top: 50px;
  @media (max-width: $about-breakpoint) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: $laptop) {
    grid-template-rows: 1fr 0.5fr;
  }
  @media (max-width: $phone) {
    grid-template-columns: repeat(2, 1fr);
  }
  // bring closer by increasing padding top
  .info-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    @media (max-width: $phone) {
      margin-bottom: 2rem;
    }
    &.text {
      grid-column: 1 / 5;
      justify-content: space-between;
      @media (max-width: $about-breakpoint) {
        grid-column: 1 / 3;
        justify-content: space-around;
      }
      @media (max-width: $laptop) {
        grid-column: 1 / -2;
      }
      @media (max-width: $phone) {
        grid-row: 1;
        grid-column: span 2;
      }
      .text-wrapper {
        &:first-of-type {
          margin-bottom: 2rem;
        }
      }
    }
    &.technology {
      grid-column: 7 / 13;
      @media (max-width: $about-breakpoint) {
        grid-column: 3 / 5;
      }
      @media (max-width: $laptop) {
        grid-row: 2;
        grid-column: 1 / -1;
      }
      h2 {
        @media (max-width: $about-breakpoint) {
          visibility: hidden;
        }
        display: flex;
        justify-content: center;
      }
      .technology-showcase-wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        animation: idle 2s cubic-bezier(0.37, 0, 0.63, 1);
        animation-iteration-count: infinite;

        @keyframes idle {
          50% {
            transform: translateY(-5px);
          }
          100% {
            transform: translateY(0px);
          }
        }
        &.animate-cards {
          animation-play-state: paused;
          .card {
            //open transition
            transition: transform 600ms cubic-bezier(0.785, 0.135, 0.185, 1.2);
            &:nth-child(1) {
              transition-delay: 200ms;
              transform: translate(-100%, -100%) rotateX(-15deg) rotateZ(0deg)
                rotateY(25deg);
            }
            &:nth-child(2) {
              transition-delay: 100ms;
              transform: translate(-50%, -50%) rotateX(-15deg) rotateZ(0deg)
                rotateY(25deg);
            }
            &:nth-child(3) {
              transform: translate(0%, 0%) rotateX(-15deg) rotateZ(0deg)
                rotateY(25deg);
              transform-origin: center;
            }
          }
        }
        .card {
          color: $defaultColor;
          font-family: "Monument Regular";
          font-size: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 15rem;
          height: 15rem;
          @media (max-width: $about-breakpoint) {
            width: 13rem;
            height: 13rem;
            img {
              width: 50%;
            }
          }
          background-color: $secondaryColor;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotateX(55deg) rotateZ(45deg);
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
          pointer-events: none;
          @media (max-width: $tablet) {
            pointer-events: auto;
          }
          //close transition
          transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.185, 1.1);
        }
      }
    }
  }
}
