.block-reveal {
  overflow: hidden;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $secondaryColor;
    animation-fill-mode: both;
  }

  &.up {
    &::after {
      transform: translateY(100%);
      animation: in-up 0.6s 0s, out-up 0.6s 0.6s;
    }
  }
  &.down {
    &::after {
      transform: translateY(-100%);
      animation: in-down 0.6s 0s, out-down 0.6s 0.6s;
    }
  }
  &.left {
    &::after {
      transform: translateX(100%);
      animation: in-left 0.6s 0s, out-left 0.6s 0.6s;
    }
  }
  &.right {
    &::after {
      transform: translateX(-100%);
      animation: in-right 0.6s 0s, out-right 0.6s 0.6s;
    }
  }
}

@keyframes in-up {
  to {
    transform: translateY(0%);
  }
}
@keyframes out-up {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes in-down {
  to {
    transform: translateY(0%);
  }
}
@keyframes out-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes in-left {
  to {
    transform: translateX(0%);
  }
}
@keyframes out-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes in-right {
  to {
    transform: translateX(0%);
  }
}
@keyframes out-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
