.footer-wrapper {
  position: relative;
  height: 6rem;
  width: 100%;
  .footer-links-wrapper {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100px;
    .footer-link {
      font-size: 2rem;
      a {
        color: $secondaryColor;
        text-decoration: none;
        &:hover {
          color: $secondaryColor;
          cursor: none;
        }
      }
    }
  }
  .footer-credits-wrapper {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    &.year {
      left: auto;
      right: 0;
    }
    p {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        width: 100%;
        height: 100%;
        font-family: "Monument Regular";
        font-size: 2rem;
        &.up {
          align-items: flex-start;
        }
        &.down {
          align-items: flex-end;
        }
        .footer-logo {
          width: 150px;
          path {
            transition: 0.3s ease-in-out;
            fill: $secondaryColor;
          }
          &:hover {
            path {
              fill: #ffffff;
              stroke: #000000;
            }
          }
        }
      }
      margin-bottom: 0;
    }
  }
}
