.introduction-wrapper {
  margin-top: $navbarHeight;
  overflow: hidden;
  grid-column: 1 / 13;
  display: flex;
  flex-direction: column;
  position: relative;
    .text-wrapper {
      font-family: "PlusJakartaText Regular";
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      .text-row {
        min-width: fit-content;
        line-height: 1.2;
        white-space: nowrap;
        span {
          position: relative;
          font-family: "Monument Regular";
        }
      }
    }
    .email-wrapper {
      width: fit-content;
      padding: 0 1rem 1rem 0;
      font-family: "PlusJakartaText Light";
    }
}
