.intro-logo-wrapper {
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .svg-wrapper {
    width: 50%;
    @media (max-width: $phone) {
      width: calc(100% - 64px);
    }
    .logo {
      z-index: 1;
      overflow: visible;
      width: 100%;
      &:hover {
        path {
          transform: scale(1.1);
        }
      }
      padding: 2rem;
      path {
        transition: transform 0.8s cubic-bezier(0.6, 0.05, 0.01, 0.99);
        transform-origin: center;
        stroke: none;
        fill: $secondaryColor;
      }
    }
  }
  .tooltip-wrapper {
    color: $secondaryColor;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    &:hover {
      .arrow {
        transform: translateX(4px);
      }
    }
    p {
      margin-bottom: 0;
      margin-right: 1rem;
    }
    .arrow {
      path {
        fill: $secondaryColor;
      }
      transition: transform 0.3s ease-in-out;
    }
  }
}
