.logo-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-wrapper {
    width: 40rem;
    .drawn-logo {
      scale: 0.4;
      * {
        stroke: $logoOutlineColor;
      }
      path {
        stroke-dasharray: 2000; // one big stroke
        stroke-dashoffset: 2000; // offset to hide the whole shape
        animation: reveal 1s ease-in forwards, draw 2s linear forwards;
        animation-delay: 0.5s;
      }
      @keyframes draw {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
    .logo {
      path {
        stroke: none;
        fill: $logoOutlineColor;
      }
    }
  }
}
