.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: $navbarHeight;
  background-color: inherit;
  padding: 8px 100px 4px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba($defaultColor, 0.75);
  //  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  transition: top 0.3s ease-in-out;
  &.hide {
    top: calc(-1 * #{$navbarHeight});
  }
  .logo-wrapper {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-small {
      height: 100%;
      width: 100%;
      path {
        transition: 0.3s ease-in-out;
        fill: $secondaryColor;
      }
      &:hover {
        path {
          fill: #ffffff;
          stroke: #000000;
        }
      }
    }
  }
  .links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 200px);
    font-size: 1.5rem;
    font-family: "Monument Regular";
    .navbar-link {
      transition: color 0.15s ease-in-out;
      margin-left: 3rem;
      color: #7f7f7f;
      &:hover {
        color: $secondaryColor;
      }
    }
  }
}

.side-menu-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 90px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .menu-button-wrapper {
    width: 50%;
    height: 1rem;
    position: relative;
    overflow: hidden;
    &:hover {
      span {
        background-color: $secondaryColor;
      }
    }
    span {
      position: absolute;
      background-color: #7f7f7f;
      width: 100%;
      height: 2px;
      left: 0%;
      transition: background-color 0.15s ease-in-out;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: calc(50% - 1px);
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  }
}

.side-menu-logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 90px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .side-logo-wrapper {
    width: 100%;
    position: relative;
    .side-logo {
      path {
        transition: 0.3s ease-in-out;
        fill: #000000;
      }
      &:hover {
        path {
          fill: #ffffff;
          stroke: #000000;
        }
      }
    }
  }
}

.side-links-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  .side-link {
    color: #252525;
    font-size: 2rem;
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      color: $secondaryColor;
    }
  }
}
