.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: $navbarHeight;
  background-color: inherit;
  padding: 12px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  //  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  transition: top 0.3s ease-in-out;
  &.hide {
    top: calc(-1 * #{$navbarHeight});
  }
  .logo-wrapper {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-small {
      height: 100%;
      width: 100%;
      path {
        transition: 0.3s ease-in-out;
        fill: #000000;
        stroke: #ffffff;
      }
      &:hover {
        path {
          fill: #ffffff;
          stroke: #000000;
        }
      }
    }
  }
  .links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 200px);
    font-size: 1.5rem;
    font-family: "Monument Regular";
    .navbar-link {
      transition: color 0.15s ease-in-out;
      margin-left: 3rem;
      color: #7f7f7f;
      &:hover {
        color: $secondaryColor;
      }
    }
  }
}
