.projects-wrapper {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  column-gap: 20px;
  padding-bottom: 50px;
  .header-wrapper {
    grid-column: 1 / 4;
    grid-row: 1;
    height: fit-content;
    margin-bottom: 4rem;
    h2 {
      font-family: "PlusJakartaText Bold";
    }
  }
  .close-button-wrapper {
    height: fit-content;
    grid-column: 12 / 13;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    span {
      font-family: "Monument Regular";
      font-size: 3.157rem;
    }
  }
  .projects-showcase-wrapper {
    grid-column: 2 / 12;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    row-gap: 5rem;
    min-height: 50vh;
    .project-wrapper {
      grid-column: 1 / 5;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      min-height: 5rem;
      &:hover {
        .thumbnail-wrapper {
          transition: clip-path 4s cubic-bezier(0.34, 1.56, 0.64, 1.3);
          clip-path: inset(0 0 0 0);
          img {
            animation: scaleDown 1s forwards;
          }
        }
      }
      h2 {
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: center;
      }
      &.left {
        grid-column: 1 / 5;
      }
      &.right {
        grid-column: 7 / 11;
      }
      .thumbnail-wrapper {
        z-index: 3;
        position: absolute;
        width: 700px; //700
        height: 450px; //450
        pointer-events: none;
        left: 0;
        top: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        clip-path: inset(10% 10% 10% 10%);
        transition: clip-path 1.2s cubic-bezier(0.34, 1.56, 0.64, 1.3);
        img {
          transition: animation 5s cubic-bezier(0.34, 1.56, 0.64, 1.3);
          width: 100%;
          @keyframes scaleDown {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(0.9);
            }
          }
        }
      }
    }
    // project details
    &.details {
      row-gap: 1rem;
      grid-template-rows: 4rem 1.5rem 5fr 1.5rem; //24px
      grid-template-areas:
        "name name name name . . carousel-top carousel-top carousel-top carousel-top"
        ". . . . . . info-7 info-6 info-5 info-4"
        "description description description description description . gallery gallery gallery gallery"
        "live github . . . . gallery gallery gallery gallery";
      .project-details-header {
        grid-area: name;
        display: flex;
        align-items: center;
        height: fit-content;
      }
      .carousel-wrapper {
        grid-area: carousel-top;
        display: flex;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        @keyframes carousel-first {
          0% {
            transform: translateX(0%);
          }
          100% {
            transform: translateX(100%);
          }
        }
        @keyframes carousel-second {
          0% {
            transform: translateX(-100%);
          }
          100% {
            transform: translateX(0%);
          }
        }
        @keyframes carousel-third {
          0% {
            transform: translateX(100%);
          }
          100% {
            transform: translateX(200%);
          }
        }
        .carousel {
          position: absolute;
          left: 0;
          width: max-content;
          height: fit-content;
          display: flex;
          justify-content: space-between;
          &.play {
            animation: carousel-first 10s infinite linear;
          }
          &.left {
            transform: translateX(-100%);
            &.play {
              animation: carousel-second 10s infinite linear;
            }
          }
          &.right {
            transform: translateX(100%);
            &.play {
              animation: carousel-third 10s infinite linear;
            }
          }
          span {
            min-width: fit-content;
            font-family: "Monument Regular";
            font-size: 0.75rem;
            margin-right: 1rem;
          }
        }
      }
      .project-type-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: project-type;
        font-family: "Monument Regular";
        font-size: 0.75rem;
      }
      .info-bean {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        .info {
          font-family: "Monument Regular";
          font-size: 0.75rem;
        }
        a {
          text-decoration: none;
          color: $secondaryColor;
          &:hover {
            cursor: none;
          }
        }
        &.bottom-link {
          font-family: "Monument Regular";
          justify-content: start;
          &.live {
            grid-area: live;
          }
          &.repo {
            grid-area: github;
          }
        }
      }
      .description-wrapper {
        grid-area: description;
        width: 100%;
        height: 100%;
        word-wrap: break-word;
      }
      .gallery-wrapper {
        grid-area: gallery;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:hover {
          img {
            width: 150%;
          }
        }

        img {
          position: absolute;
          display: block;
          width: 100%;
          aspect-ratio: 16/9;
          transition: width 1s cubic-bezier(0.6, 0.05, 0.01, 0.99);
          pointer-events: none;
        }
      }
    }
  }
}
