.projects-wrapper {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  column-gap: 20px;
  padding-bottom: 50px;
  .header-wrapper {
    grid-column: 1 / 4;
    grid-row: 1;
    height: fit-content;
    margin-bottom: 8rem;
    h1 {
      font-family: "PlusJakartaText Bold";
    }
  }
  .projects-showcase-wrapper {
    grid-column: 2 / 12;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    row-gap: 5rem;
    min-height: 50vh;
    .project-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      min-height: 5rem;
      padding: 2rem;
      &:hover {
        .image-wrapper {
          transform: scale(1.7);
          img {
            transform: scale(0.8);
          }
        }
      }
      h2 {
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: center;
      }
      &.left {    
        grid-column: 1 / 5;
      }
      &.right {    
        grid-column: 7 / 11;
      }
      .thumbnail-wrapper {
        z-index: 3;
        position: absolute;
        width: 700px;   //700
        height: 450px;  //450
        pointer-events: none;
        left: 0;
        top: -100%;
        display: flex;
        padding: 90px 140px;
        overflow: hidden;
        .image-wrapper {
          width: 100%;
          height: 100%;
          transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1.3);
          overflow: hidden;
          img {
            position: relative;
            top: -45px;
            left: -70px;
            transition: transform 1s 1s cubic-bezier(0.5, 1, 0.89, 1);
          }
        }
      }
    }
  }
}